USE [master]
GO
/****** Object:  Database [db_hgqrdfile]    Script Date: 02/20/2023 15:54:54 ******/
CREATE DATABASE [db_hgqrdfile] ON  PRIMARY 
( NAME = N'db_hgqrdfile', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\db_hgqrdfile.mdf' , SIZE = 30720KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_hgqrdfile_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\db_hgqrdfile_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_hgqrdfile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_hgqrdfile]
GO
/****** Object:  Table [dbo].[NFile]    Script Date: 02/20/2023 15:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NFile](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DataNumber] [nvarchar](50) NULL,
	[FileContent] [varbinary](max) NULL,
	[FileName] [nvarchar](250) NULL,
	[Size] [int] NULL,
 CONSTRAINT [PK_NFile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NFile] ON
SET IDENTITY_INSERT [dbo].[NFile] OFF
